    
<footer>
  <p>
    Copyright &copy; <%= Time.now.year %>
    <%= link_to 'The Pragmatic Studio', 'https://pragmaticstudio.com' %>
  </p>
  <p>
    <%= mail_to "rpapagiannis@icloud.com", "Contact the hapless developer" %>
  </p>
</footer>